.dungeonTitle {
    background-image: url('https://cdn.hipwallpaper.com/i/36/44/RwSbnq.jpg');
    color: white;
    text-shadow: 1px 2px black;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 3px black;
}